version: "3.9"

services:
  minio : 
    container_name: "minio"
    image: "minio/minio:latest"
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file :
      - .env
    command: server /data --console-address ":9001"
    networks: 
      - de_network
  
  mc:
    image: minio/mc
    environment:
      - AWS_ACCESS_KEY_ID=minio
      - AWS_SECRET_ACCESS_KEY=minio123
      - AWS_REGION=us-east-1
    entrypoint: >-
      /bin/sh -c " until (/usr/bin/mc config host add minio http://minio:9000 minio minio123) do echo '...waiting...' && sleep 1; done; /usr/bin/mc mb minio/warehouse ; /usr/bin/mc policy set public minio/warehouse; exit 0; "
    depends_on:
      - minio
    networks:
      - de_network
  

networks:
    de_network:
      driver: bridge
      name: de_network